.coussin-img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: 50% 30%; /* centre horizontalement, focus plus haut */
    margin: 0 auto;
}
.yoslan-img {
    width: 100%;
    height: 220px; /* ou la hauteur de ton trapèze/carré bleu */
    object-fit: cover;
    object-position: 90% 30%; /* décale encore plus vers la droite */
    transform: scale(1.1);   /* zoom léger */
    transition: transform 0.3s;
    display: block;
    margin: 0 auto;
    max-width: none;
    border-radius: 1.2rem; /* si tu veux garder les coins arrondis */
}
.pokemon-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: 50% 10%; /* centre horizontalement, focus légèrement plus bas */
    transform: scale(1.1);
    transition: transform 0.3s;
    display: block;
    margin: 0 auto;
    max-width: none;
    border-radius: 1.2rem;
}
.music-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    max-width: none;
    border-radius: 0;
}
